In [2]:
import pandas as pd

In [21]:
org = pd.read_csv('../eurostat/raw_bad_conditions.csv')

In [22]:
org.columns

Index(['TIME', 'GEO', 'HHTYP', 'INCGRP', 'UNIT', 'SEX', 'AGE', 'Value'], dtype='object')

In [23]:
org

,TIME,GEO,HHTYP,INCGRP,UNIT,SEX,AGE,Value
0,2016,Belgium,Total,Total,Percentage,Total,Total,19.3
1,2016,Bulgaria,Total,Total,Percentage,Total,Total,12.3
2,2016,Czechia,Total,Total,Percentage,Total,Total,8.2
3,2016,Denmark,Total,Total,Percentage,Total,Total,15.9
4,2016,Germany (until 1990 former territory of the FRG),Total,Total,Percentage,Total,Total,13.1
...,...,...,...,...,...,...,...,...
65,2018,Switzerland,Total,Total,Percentage,Total,Total,9.8
66,2018,Montenegro,Total,Total,Percentage,Total,Total,:
67,2018,North Macedonia,Total,Total,Percentage,Total,Total,:
68,2018,Serbia,Total,Total,Percentage,Total,Total,16.6
69,2018,Turkey,Total,Total,Percentage,Total,Total,:

In [27]:
df = org[ (org['TIME'] == 2018) ][['GEO', 'Value']]
df.columns = ['country', 'value']
df.loc[df['country'] == 'Germany (until 1990 former territory of the FRG)', 'country'] = 'Germany'
df = df.sort_values('country')
print(df.shape)
df.head()
# df

(35, 2)

     country value
54   Austria  10.4
35   Belgium  18.0
36  Bulgaria  13.0
45   Croatia  11.2
47    Cyprus  30.2

In [30]:
df[df['value'] == ':']['country']

Series([], Name: country, dtype: object)

In [29]:
for c in df[df['value'] == ':']['country']:

    v = org[ (org['TIME'] == 2016) & (org['GEO'] == c) ]['Value']
    
    df.loc[df['country'] == c, 'value'] = float(v)
    
df[df['value'] == ':']

Empty DataFrame
Columns: [country, value]
Index: []

In [31]:
df = df.set_index('country')
df.columns=['health']

In [32]:
df

                health
country
Austria           10.4
Belgium           18.0
Bulgaria          13.0
Croatia           11.2
Cyprus            30.2
Czechia            7.7
Denmark           16.4
Estonia           13.6
Finland            4.6
France            12.7
Germany           13.4
Greece            12.9
Hungary           22.5
Iceland           18.6
Ireland           11.9
Italy             13.2
Latvia            23.5
Lithuania         14.8
Luxembourg        18.3
Malta              7.1
Montenegro        26.1
Netherlands       15.8
North Macedonia   14.1
Norway             6.8
Poland            11.6
Portugal          26.9
Romania           10.1
Serbia            16.6
Slovakia           5.1
Slovenia          22.7
Spain             15.9
Sweden             7.8
Switzerland        9.8
Turkey            38.1
United Kingdom    17.7

In [ ]:
df.to_csv('../data/health_estimate.csv')
df.to_excel('../data/health_estimate.xlsx')